#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar {
    color: white;
    background-color: #42a3a7;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background-color: #2c9094;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 12pt;
    display: block;
}
#sidebar ul li a:hover {
    color: white;
    background-color: #2abdc2;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background-color: #2c9094;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background-color: #36adb1;
}